.App {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0000ff;
  font-size: 1.5rem;
  color: #ffffff;
  width: 100%;
  margin-bottom: .5rem;
}

/* Employee card*/
.empcard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
